.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#complicite { background-color: #66ffc2; }
#conjugalite { background-color: #d3d3d3; }
#fun { background-color: #ffff66; }
#intimite { background-color: #ccffff; }
#physique { background-color: #ffd699; }
#sensualite { background-color: #bb99ff; }
#sex { background-color: #ffb3d9; }
#intel { background-color: #ff6666; }
#hetero { background-color: #4d4dff; }
#queerness { background-color: #ffe6ff; }
